<h1><%= @doctor.name %></h1>
<h2>Specialty: <%= @doctor.specialty %></h2>
<h2>University Graduated From: <%= @doctor.university %></h2>
<h2>List of Patients: </h2>
<ol>
<% @doctor.patients.each do |patient| %>
  <div id="patient-<%= patient.id %>">
  <li><%= patient.name %>
  <%= button_to "Remove from Caseload", "/patient_doctors/#{@doctor.id}?patient_id=#{patient.id}", method: :delete %></li>
  </div>
<% end %>
</ol>
<h2>Hospital:<%= @doctor.hospital_name %> </h2>
